# L.I.M.A. Firmware Configuration

source "Kconfig.zephyr"

config LIMA_MAIN_LOG_LEVEL
    int "LIMA main log level"
    default 3
    range 0 4

config LIMA_FSM_LOG_LEVEL
    int "LIMA FSM log level"
    default 3
    range 0 4

# config LIMA_LIGHT_SLEEP_HEARTBEAT_MS
#     int "Light sleep heartbeat interval (ms)"
#     default 10000

config LIMA_DEEP_SLEEP_INTERVAL_MS
    int "Deep sleep wakeup interval (ms)"
    default 6000

config LIMA_BARO_THRESHOLD_PA
    int "Barometric pressure breach threshold in Pascals"
    default 5

# config LIMA_INACTIVITY_TIMEOUT_MS
#     int "Inactivity timeout before deep sleep (ms)"
#     default 6000
#     help
#       Total time (in ms) the device remains idle (including Light Sleep intervals) 
#       before transitioning to Deep Sleep.